<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <head>
<title>Page Title</title>
<meta charset="UTF-8" />
</head> -->
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card border-dark text-center">
			<div class="card-header">
				<h2 th:text="#{text.login.type}">Sign Up</h2>
			</div>


			<form action="#" th:action="@{/login}" th:object="${login}"
				method="post">
				<div align="center">

					<table>
						<tr>
							<td><label></label></td>

						</tr>
						<tr>
							<td><label th:text="#{text.register.username}">User Name</label></td>
							<td><input type="text" th:field="*{userName}" /></td>
						</tr>
						<tr>
							<td><label th:text="#{text.register.password}">Password</label></td>
							<td><input type="text" th:field="*{password}" /></td>
						</tr>
						<tr>
							<td></td>
							<td><input class="btn btn-primary btn-lg" type="submit"
							th:value="${title}" /></td>
						</tr>
					</table>
					<div style="color: red">
						<p th:text=${error}></p>
					</div>

				</div>


			</form>
		</div>
	</div>
</body>
</html>