<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<style>
img {
	margin: 0px;
	margin-top: -5px;
}
</style>
<title>Dungeon Game</title>
</head>
<body>
	<script>
		function addImg(nombre, posX, posY) {
			var img = document.createElement('img');
			img.style.position = 'absolute';
			img.style.left = posX;
			img.style.top = posY;
			img.src = "[[@{/images/Terrain.png}]]";
			img.alt = "no encuentra imagen";
			img.width = '100';
			img.height = '100';
			document.body.appendChild(img);
		}

		function addMap() {
			/* for(var i=0;i<10;i++){
				for(var j=0;j<10;j++){
					addImg("Terrain.png",i*100,j*100);
				}
			} */
			addImg("Terrain.png",100,100);
			addImg("Terrain.png",200,200);
		} 
	</script>

	<div id=casillas></div>

	<script>
		addMap();
		//addImg('Vampire.png',200,200);
	</script>

	<!-- 	<h1 th:text="${mensaje}"></h1>
	<h2 th:text="${posicion.getPosX()}"></h2>
	<img th:src="@{/images/Vampire.png}" width="10%"></img>
	<img th:src="@{/images/Explorer.png}" width="10%"></img>
	<div width="80%">
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
		<br>
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
		<img th:src="@{/images/fondo.png}" width="250px" height="50px"></img>
	</div> -->

	<script>
		document.body.addEventListener("keydown", function(event) {
			/* var message="[[${mensaje}]]" ;
			message="[[@{/game}]]"; */
			//alert(message);
			//var enlace="[[@{/game/}]]"+"1";
			//alert(enlace);
			var enlace = "[[@{/game/}]]";
			// arriba
			if (event.keyCode === 87 || event.keyCode === 38) {
				window.location.replace(enlace + 0);
			}
			// derecha
			else if (event.keyCode === 68 || event.keyCode === 39) {
				window.location.replace(enlace + 1);
			}
			// abajo
			else if (event.keyCode === 83 || event.keyCode === 40) {
				window.location.replace(enlace + 2);
			}
			// izquierda
			else if (event.keyCode === 65 || event.keyCode === 37) {
				window.location.replace(enlace + 3);
			}

		});
	</script>

</body>
</html>